@font-face{
	font-family:'FedraSansAltPro-Book';
	src:url('../../fonts/FedraSansAltPro-Book.woff');
}
@font-face{
	font-family:'fedrasansaltpro-ligh';
	src:url('../../fonts/fedrasansaltpro-lighttf.otf');
}
@font-face{
	font-family:'FedraSansPro Light';
	src:url('../../fonts/FedraSansPro Light.otf');
}