.uslugi{
    overflow: hidden;
    width: 1050px;
    margin: 40px 0 115px 95px;
}

.uslugi__item{
    float: left;
    width: 193px;
    margin-right: 13px;
}

.uslugi__logo100mbs{
    background: url('../../blocks/uslugi/img/100mbs.png') no-repeat;
    width: 90px;
    height: 82px;
    margin: 0 auto;
}

.uslugi__logo4gplus{
    background: url('../../blocks/uslugi/img/4gplus.png') no-repeat;
    width: 90px;
    height: 82px;
    margin: 0 auto;
}

.uslugi__logo52hd{
    background: url('../../blocks/uslugi/img/52hd.png') no-repeat;
    width: 90px;
    height: 82px;
    margin: 0 auto;
}

.uslugi__logo12gb{
    background: url('../../blocks/uslugi/img/12gb.png') no-repeat;
    width: 90px;
    height: 82px;
    margin: 0 auto;
}

.uslugi__description{
    text-align: center;
    font-size: 16px;
    width: 182px;
    margin-top: 18px;
}