.domru-icon-col{
    width: 45px;
    float: left;
    margin: 12px 10px 0 6px;
}

.domru-icon-col__logo{
    background: url('../../blocks/domru-icon-col/img/domru-logo.png') no-repeat;
}

.domru-icon-col__internet{
    background: url('../../blocks/domru-icon-col/img/domru-internet.png') no-repeat;
}

.domru-icon-col__sd{
    background: url('../../blocks/domru-icon-col/img/domru-sd.png') no-repeat;
} 

.domru-icon-col__hd{
    background: url('../../blocks/domru-icon-col/img/domru-hd.png') no-repeat;
}

.domru-icon-col__price{
    background: url('../../blocks/domru-icon-col/img/domru-price.png') no-repeat;
}

.domru-icon-col__sale{
    background: url('../../blocks/domru-icon-col/img/domru-sale.png') no-repeat;
}



.domru-icon-col__logo, .domru-icon-col__internet, .domru-icon-col__sd, .domru-icon-col__hd, .domru-icon-col__price, .domru-icon-col__sale{
    width: 27px;
    height: 26px;
    display: block;
    margin-bottom: 24px;
}
