.right-block{
    float: right;
    background: #737373;
    width: 235px;
    color: #FFFFFF;
    height: 1017px;
    padding: 0 30px 0 30px;
}



.right-block__title{
    font-size: 39px;
    font-family: 'fedrasansaltpro-ligh';
    margin-bottom: 13px;
    margin-top: 15px;
    display: block;;
}

.right-block__line{
    border-bottom: 3px dotted #FFFFFF;
    margin: 10px 0 5px 0;
}
.right-block__send-button{
    background: #4a90e2;
    width: 172px;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 0 auto 50px auto;
    border-radius: 40px;
    border: 1px solid #FFFFFF;
}