.megafon-icon-col{
    width: 45px;
    float: left;
    margin: 12px 10px 0 6px;
}

.megafon-icon-col__logo, .megafon-icon-col__call, .megafon-icon-col__4g, .megafon-icon-col__mail, .megafon-icon-col__price, .megafon-icon-col__sale{
    width: 27px;
    height: 26px;
    display: block;
    margin-bottom: 24px;
}

.megafon-icon-col__logo{
    background: url('../../blocks/megafon-icon-col/img/megafon-logo.png') no-repeat;
}

.megafon-icon-col__call{
    background: url('../../blocks/megafon-icon-col/img/megafon-call.png') no-repeat;
}

.megafon-icon-col__4g{
    background: url('../../blocks/megafon-icon-col/img/megafon-4g.png') no-repeat;
} 

.megafon-icon-col__mail{
    background: url('../../blocks/megafon-icon-col/img/megafon-mail.png') no-repeat;
}

.megafon-icon-col__price{
    background: url('../../blocks/megafon-icon-col/img/megafon-price.png') no-repeat;
}

.megafon-icon-col__sale{
    background: url('../../blocks/megafon-icon-col/img/megafon-sale.png') no-repeat;
}