.vopros-otvet{
    background: #efefef;
    clear: both;
    padding: 0 42px 0 42px;
    min-height: 150px;
    overflow: hidden;
}

.vopros-otvet__title{
    color: #3C3C3C;
    font-size: 35px;
    margin: 55px 0 10px 0;
}

.vopros-otvet__border{
    color: #c8c8c8;
    margin: 13px 0 13px 0;
}

.vopros-otvet__vopros{
    padding: 0 24px;
    display: block;

}