.content{
    background: #FFFFFF;
    clear: both;
    margin-bottom: 50px;
    box-shadow: 0 0 5px 2px;
    overflow: hidden;
}

.content__title{
    width: 590px;
    text-align: center;
    margin: 0 auto;
    padding-top: 70px;
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 10px;
    display: block;
}

.content__zagolovok{
    text-align: center;
    font-size: 39px;
    font-weight: 100;
    margin-bottom: 38px;
}

.content__uslugi{
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 14px;
}
