.right-block-tarif{
    overflow: hidden;
}

.right-block-tarif__title{
    width: 140px;
    display: block;
    float: left;
}

.right-block-tarif__price, .right-block-tarif__sale, .right-block-tarif__summa{
    text-align: right;
    display: block;
    margin-top: 7px;
}

.right-block-tarif__price{
    margin-top: 20px;
}

.right-block-tarif__itogo{
    text-align: center;
    display: block;
    margin: 20px 0 23px 0;
}
