.logo{
    background: url('../../blocks/logo/img/logo.png') no-repeat;
    width: 446px;
    height: 449px;
    position: relative;
    left: -102px;
    float: left;
}

@media screen and (max-width: 1230px) {
    .logo {
        position: relative;
        left: 0px;
        float: left;
    }
}