<header class='header'>
                <div class='logo'>
                </div>
                <div class='slogan'> 
                    <span class='slogan__title'></span>
                    <span class='slogan__description'></span>
                    <span class='slogan__city'></span>
                </div>
            </header> 