.block-tarif{
    float: left;
    width: 151px;
    color: #9E9E9E;
}

.block-tarif__item {
    padding-left: 15px;
    font-size: 14px;
    width: 151px;
    display: table-cell;
    vertical-align: middle;
    line-height: 50px;
    float: left;
}


.block-tarif:hover{
    box-shadow: 0 0 10px 1px #000;
    
}

.block-tarif__link, .block-tarif__change{
    color: #4a90e2;
    font-size: 24px;
    text-decoration: underline;
}
.block-tarif__change{
    font-size: 14px;
    cursor: pointer;
}