.cell-gray-col {
    width: 0px;
    float: left;
}

.cell-gray-col__no, .cell-gray-col__yes{
    width: 605px;
    height: 50px;
    float: left;
    margin: 0;
}

.cell-gray-col__yes{
    background: url('../../blocks/cell-gray-col/img/gray-pix.png') repeat;
    
}