<!DOCTYPE html>
<html lang='ru'>
    {{>b-head}}
    <body class='page'>
        <div class='wrapper'>
            {{>b-header}}
			{{>body}}
            
        </div> <!--wrapper-->                  

        {{>b-js-footer}}
        
    </body> 
</html>