.slogan{
    background: url('../../blocks/slogan/img/no-fonts.png') no-repeat;
    position: relative;
    left: 412px;
    top: 49px;
    width: 605px;
    color: #FFFFFF;
    margin-top: 60px;
    height: 290px;
}

.slogan__title{
    display: block;
    font-size: 53px;
    text-transform: uppercase;
    font-family: 'FedraSansAltPro-Book';
    color: #FFFFFF;
}

.slogan__description{
    display: block;
    font-size: 24px;
    width: 445px;
}

.slogan__city{
    display: block;
}

@media screen and (max-width: 1230px) {
    .slogan{
        background: url('../../blocks/slogan/img/no-fonts.png') no-repeat;
        background-size: 95%;
        left: 500px;
        top: 60px;
        width: 500px;
    }
}