.domru-block__title{
    font-weight: 100;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
}


.domru-block__client{
    margin-top: 29px;
    margin-bottom: 43px;
    float: left;
    text-align: center;
    display: block;
    width: 679px;
    font-size: 14px;
}

.domru-block__del-tv{
    background: url('../../blocks/domru-block/img/del-tv.png') 1px no-repeat;
    padding-left: 21px;
    margin-left: 5px;
    top: 23px;
    font-size: 14px;
    position: relative;
}