.megafon-block__title{
    font-weight: 100;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
}


.megafon-block__client{
    margin-top: 29px;
    margin-bottom: 43px;
    float: left;
    text-align: center;
    display: block;
    width: 679px;
    font-size: 14px;
}